<h1>Severity statistics</h1>

<ngx-datatable
  class="severity-statistics material"
  [sortType]="'single'"
  [rows]="items"
  [count]="itemCount"
  [rowHeight]="'auto'"
  [headerHeight]="'auto'"
  [columnMode]="'force'">

  <ngx-datatable-column name="Severity" sortable="true" [cellClass]="'severity'">
    <ng-template let-item="row" ngx-datatable-cell-template>
        <i class="cc-icon severity-{{item.severity | severityToString | lowercase}}"></i>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column sortable="true">
    <ng-template let-column="column" ngx-datatable-header-template>
        <i class="cc-icon detection-status-unresolved"></i> All reports
    </ng-template>
    <ng-template let-item="row" ngx-datatable-cell-template>
      {{item.reports}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
