.bug-wrapper {
  padding-bottom: 60px;
}

#left-panel {
  float: left;
  width: 25%;
}

#bug-tree {
  display: block;
  padding: 0px 10px;
}

#editor {
  height: 100%;
  width: 75%;
  display: inline-block;
  position: relative;

  // .CodeMirror {
  //   height: 100%
  // }
}

.checker-step {
  background-color: #eeb;
}

.checker-msg {
  display: inline-block;
  padding: 3px 6px;
  margin: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &.info {
    color: #00546f;
    background-color: #bfdfe9;
    border: 1px solid #87a8b3;
  }

  &.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebcccc;
  }

  &.fixit {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
  }
}

.checker-enum {
  color: white;
  padding: 1px 5px;
  text-align: center;
  border-radius: 25px;
  margin-right: 5px;
  text-decoration: inherit;

  &.info {
    background-color: #427ea9;
  }
  
  &.error {
    background-color: #a94442;
  }
  
  &.fixit {
    background-color: #8a6d3b;
  }
}
