<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center">Log in</h2>
    <div class="alert alert-danger" role="alert" *ngIf="submitted && invalidCredentials">
        Invalid credentials supplied. Refusing authentication!
    </div>
    <div class="form-group">
        <input type="text" placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btn-block">Log in</button>
    </div>
</form>