<div class="px-2">
  <form>
    <div class="form-group pull-right mx-2">
      <a class="btn btn-primary" [routerLink]="['products', 'new']">New product</a>
      <a class="btn btn-primary" [routerLink]="['products', 'permission']">Global permissions</a>
    </div>
  </form>

  <form class="form-inline">
    <div class="form-group has-search mx-2">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" (keyup)="search($event.target.value)" class="form-control" placeholder="Search for products...">
    </div>
  </form>

  <h1>Products</h1>

  <ngx-datatable
    class="product-list material"
    [sortType]="'single'"
    [rows]="products"
    [rowHeight]="'auto'"
    [columnMode]="'force'">

    <ngx-datatable-column name="Product name" [comparator]="productNameComparator">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{column.name}}</span>
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        <div class="d-flex align-items-left">
          <div class="mr-3">
            <div class="product-icon rounded-circle" [style.background-color]="item.endpoint | strToColor">
              <div class="align-middle text-center">{{ (item.displayedName_b64 | atou | uppercase).charAt(0) }}</div>
            </div>
          </div>
          <div>
            <a [routerLink]="[item.endpoint]" class="text-default font-weight-semibold">
              {{ item.displayedName_b64 | atou }}
            </a>
            <div class="text-muted font-size-sm">
              <small>{{ item.description_b64 | atou }}</small>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Admins" sortable="false">
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.admins.join(', ')}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Run count">
      <ng-template let-item="row" ngx-datatable-cell-template>
        <span class="text-center">{{item.runCount}}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Latest store to product">
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.latestStoreToProduct | date:'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column sortable="false">
      <ng-template ngx-datatable-header-template>
        <span>&nbsp;</span>
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        <div>
          <a [routerLink]="['products', 'edit', item.endpoint]">
            <i class="cc-icon edit"></i>
          </a>
          <i class="cc-icon clean"></i>
        </div>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
