<div>
  <label for="endpoint">URL endpoint*</label>
  <input type="textbox" name="endpoint" placeholder="Unique identifier for product!" [(ngModel)]="product.endpoint">
</div>
<div>
  <label for="name">Display name</label>
  <input type="textbox" name="name" placeholder="(Optional)" [(ngModel)]="productName">
</div>
<div>
  <label for="description">Description</label>
  <input type="textbox" name="description" placeholder="(Optional)" [(ngModel)]="productDescription">
</div>
<div>
  <ul>
    <li>
      <input type="radio" name="db-engine" value="sqlite" [(ngModel)]="product.connection.engine">
      <label>SQLite</label>
    </li>
    <li>
      <input type="radio" name="db-engine" value="psql" [(ngModel)]="product.connection.engine">
      <label>PostgreSQL</label>
    </li>
  </ul>
</div>
<div *ngIf="product.connection.engine == 'sqlite'">
  <div>
    <label for="sqlite-file">Database file</label>
    <input type="textbox" name="sqlite-file" placeholder="(If relative, to CONFIG_DIRECTORY)" [(ngModel)]="product.connection.database">
  </div>
</div>
<div *ngIf="product.connection.engine == 'postgresql'">
  <div>
    <label for="psql-address">Server address</label>
    <input type="textbox" name="psql-address" [(ngModel)]="product.connection.host">
  </div>
  <div>
    <label for="psql-port">Port</label>
    <input type="textbox" name="psql-port" [(ngModel)]="product.connection.port">
  </div>
  <div>
    <label for="psql-username">Username</label>
    <input type="textbox" name="psql-username" [(ngModel)]="dbConnectionUsername">
  </div>
  <div>
    <label for="psql-dbname">Database name</label>
    <input type="textbox" name="psql-dbname" placeholder="Database must exist!" [(ngModel)]="product.connection.database">
  </div>
</div>
<button type="button" (click)="addProduct()">Add</button> 