#header {
  min-height: 50px;
  z-index: 1000;
  background-color: #1e88e5;
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);

  #logo {
    height: 45px;
  }

  .navbar-inverse {
    .navbar-brand, .navbar-toggler {
      color: #fff;
    }
  }

  .navbar-brand {
    padding: 0px;
  }

  .nav-item {
    .nav-link {
      color: white;
      letter-spacing: .15em;
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 700;
      display: inline-block;

      &:hover {
        /*color: rgba(255, 255, 255, 0.8);*/
        background-color: #2496f9;
      }
    }
  }
}
