<h1>Checker statistics</h1>

<ngx-datatable
    class="material"
    [sortType]="'single'"
    [rows]="items"
    [count]="itemCount"
    [rowHeight]="'auto'"
    [headerHeight]="'auto'"
    [columnMode]="'force'">

    <ngx-datatable-column name="Checker name" prop="checker" sortable="true">
    </ngx-datatable-column>

    <ngx-datatable-column name="Severity" sortable="true">
      <ng-template let-item="row" ngx-datatable-cell-template>
        <i class="cc-icon severity-{{item.severity | severityToString | lowercase}}"></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column sortable="true">
      <ng-template let-column="column" ngx-datatable-header-template>
        <i class="cc-icon detection-status-unresolved"></i> All reports
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.reports}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column sortable="true">
      <ng-template let-column="column" ngx-datatable-header-template>
        <i class="cc-icon detection-status-resolved"></i> Resolved
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.resolved ? item.resolved : ''}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column sortable="true">
      <ng-template let-column="column" ngx-datatable-header-template>
        <i class="cc-icon review-status-unreviewed"></i> Unreviewed
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.unreviewed ? item.unreviewed : ''}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column sortable="true">
      <ng-template let-column="column" ngx-datatable-header-template>
        <i class="cc-icon review-status-confirmed-bug"></i> Confirmed bug
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.confirmed ? item.confirmed : ''}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column sortable="true">
      <ng-template let-column="column" ngx-datatable-header-template>
        <i class="cc-icon review-status-false-positive"></i> False positive
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.falsePositive ? item.falsePositive : ''}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column sortable="true">
      <ng-template let-column="column" ngx-datatable-header-template>
        <i class="cc-icon review-status-intentional"></i> Intentional
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.intentional ? item.intentional : ''}}
      </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
