<h1>Checker statistics</h1>
<data-table id="checker-statistics"
  [title]="'Checker statistics'"
  [items]="items"
  [itemCount]="itemCount"
  [indexColumn]="false"
  [pagination]="false"
  [header]="false"
  (reload)="reloadItems($event)">

  <data-table-column
    [header]="'Checker name'"
    [property]="'checker'"
    [sortable]="true">
  </data-table-column>

  <data-table-column
    [header]="'Severity'"
    [width]="'8rem'"
    [property]="'severity'"
    [sortable]="true">
    <ng-template #dataTableCell let-item="item">
      <i class="cc-icon severity-{{item.severity | severityToString | lowercase}}"></i>
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'reports'"
    [width]="'10rem'"
    [sortable]="true">
    <ng-template #dataTableHeader let-item="item">
      <i class="cc-icon detection-status-unresolved"></i>
      All reports
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      {{item.reports}}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'resolved'"
    [width]="'10rem'"
    [sortable]="true">
    <ng-template #dataTableHeader let-item="item">
      <i class="cc-icon detection-status-resolved"></i>
      Resolved
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      {{item.resolved ? item.resolved : ''}}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'unreviewed'"
    [width]="'10rem'"
    [sortable]="true">
    <ng-template #dataTableHeader let-item="item">
      <i class="cc-icon review-status-unreviewed"></i>
      Unreviewed
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      {{item.unreviewed ? item.unreviewed : ''}}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'confirmed'"
    [width]="'12rem'"
    [sortable]="true">
    <ng-template #dataTableHeader let-item="item">
      <i class="cc-icon review-status-confirmed-bug"></i>
      Confirmed bug
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      {{item.confirmed ? item.confirmed : ''}}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'falsePositive'"
    [width]="'10rem'"
    [sortable]="true">
    <ng-template #dataTableHeader let-item="item">
      <i class="cc-icon review-status-false-positive"></i>
      False positive
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      {{item.falsePositive ? item.falsePositive : ''}}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'intentional'"
    [width]="'10rem'"
    [sortable]="true">
    <ng-template #dataTableHeader let-item="item">
      <i class="cc-icon review-status-intentional"></i>
      Intentional
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      {{item.intentional ? item.intentional : ''}}
    </ng-template>
  </data-table-column>
</data-table>