<div class="px-2">
  <form>
    <div class="form-group pull-right mx-2">
      <button class="btn btn-primary">Diff</button>
      <button class="btn btn-primary">Delete</button>
    </div>
  </form>

  <form class="form-inline m-2">
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search for run names...">
    </div>
  </form>

  <data-table id="runs"
    [title]="'List of runs'"
    [items]="runs"
    [itemCount]="runCount"
    [indexColumn]="false"
    [pagination]="false"
    [header]="false"
    (reload)="reloadItems($event)">

    <data-table-column
      [header]="'Diff'"
      [width]="'7em'">
      <ng-template #dataTableCell let-item="item">
          <span class="radio">
            <label>
              <input type="radio" name="baseline" value="">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
            </label>
          </span>
          <span class="radio">
            <label>
              <input type="radio" name="newcheck" value="">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
            </label>
          </span>
      </ng-template>
    </data-table-column>

    <data-table-column
      [header]="'Name'"
      [property]="'name'"
      [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['../reports']" [queryParams]="{run: item.name}"class="name">{{item.name}}</a>
      </ng-template>
    </data-table-column>

    <data-table-column
      [header]="'Number of unresolved reports'"
      [property]="'resultCount'"
      [sortable]="true">
    </data-table-column>

    <data-table-column
      [header]="'Storage date'"
      [property]="'runDate'"
      [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <span class="date">{{item.runDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column
      [header]="'Analysis duration'"
      [property]="'duration'"
      [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        {{item.duration | duration}}
      </ng-template>
    </data-table-column>

    <data-table-column
      [header]="'Detection status'"
      [property]="'detectionStatus'"
      [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <ul class="detection-status-counts">
          <li *ngFor="let detectionStatusCode of (item.detectionStatusCount | mapKeys)">
            <i class="cc-icon detection-status-{{detectionStatusCode | detectionStatusToString | lowercase}}"></i>
            ({{item.detectionStatusCount.get(detectionStatusCode)}})
          </li>
        </ul>
      </ng-template>
    </data-table-column>

    <data-table-column
      [header]="'Latest version tag'"
      [property]="'versionTag'"
      [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <span class="version-tag"
          *ngIf="item.versionTag"
          [style.background-color]="item.name | strToColor">
          <i class="cc-icon tag" ></i>
          <span class="name">{{item.versionTag}}</span>
        </span>
      </ng-template>
    </data-table-column>

    <data-table-column
      [header]="'Delete'"
      [width]="'5em'">
      <ng-template #dataTableCell let-item="item">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            <span class="cr">
              <i class="cr-icon fa fa-check"></i>
            </span>
          </label>
        </div>
      </ng-template>
    </data-table-column>

  </data-table>
</div>
