@import 'variables';

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
  background-color: #f5f5f5;
}

html, body {
  height:100%;
}

.has-search {
  .form-control {
    padding-left: 2rem;
  }

  .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
}

.data-table-wrapper {
  table {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);

    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;

    .data-table-row.row-odd {
      background-color: inherit;
    }

    td, th {
      border-top: 1px solid #f3f1f1;
      border-right: 1px solid #f3f1f1;
    }

    thead {
      th {
        font-weight: 600;
        color: #67757c;
        font-size: 0.9rem;
      }
    }
  }
}
.checkbox, .radio {
  label {
    input[type="checkbox"],
    input[type="radio"] {
      display: none;

      & + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
      }

      &:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
      }

      &:disabled + .cr {
        opacity: .5;
      }
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .cr {
    position: relative;
    display: inline-block;
    border-radius: .25em;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
    cursor: pointer;

    border: 2px solid $cc-secondary;
    color: $cc-secondary;

    .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }
  }
}

.radio {
  .cr {
    border-radius: 50%;

    .cr-icon {
      margin-left: 0.04em;
    }
  }
}
