#report-filters {
  width: 300px;
  float: left;
  margin-right: 10px;
  position: relative;

  .options {
    position: absolute;
    top: 0;
    right: 5px;

    .cc-icon {
      &.clean, &.option {
        color: #878d96;
      }
    }
  }

  > *:not(report-count):not(clear-all-reports):not(:last-child) {
    padding: 5px;
    border-bottom: 1px solid rgba(86, 96, 105, 0.23);
    display: block;
  }
}
